<h1>Using Google reCAPTCHA with Angular</h1>

<div class="contact-form-container">
  <form [formGroup]="contactForm">
    <div class="form-group">
      <label>Title *</label>
      <input type="text" formControlName="title" />
    </div>

    <div class="form-group">
      <label>Your Name *</label>
      <input type="text" formControlName="name" />
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="text" formControlName="phone" />
    </div>

    <div class="form-group">
      <label>Message *</label>
      <textarea formControlName="message" rows="4"></textarea>
    </div>

    <div class="form-group">
      <re-captcha
        (resolved)="resolved($event)"
        siteKey="6Lc_tBUpAAAAAKhcRM6RyfTHvSUb_0RLxGEJsq5K"
        formControlName="recaptchaReactive"
      ></re-captcha>
    </div>

    <div class="form-group">
      <!-- <button type="button" [disabled]="contactForm.invalid">Send</button> -->
      <button [disabled]="!captchaResolved" type="submit" class="btn btn-primary">SignIn</button>
    </div>
  </form>
</div>

<!-- <re-captcha
(resolved)="resolved($event)"
siteKey="6Lc_tBUpAAAAAKhcRM6RyfTHvSUb_0RLxGEJsq5K"
formControlName="recaptchaReactive"
></re-captcha>
<div class="form-group centered">
<button [disabled]="!captchaResolved" type="submit" class="btn btn-primary">SignIn</button>
</div> -->